# Data Wrangling
In this notebook, datasets from two sources, US Census and US IRS, are imported, cleaned, un-corrupted/empties-filled, and combined with other files.

### Import relevant packages

In [43]:
import numpy as np
import pandas as pd
from glob import glob

## County Business Patterns
The first data source is [County Business Patterns](https://www.census.gov/programs-surveys/cbp.html), an annual census report of number of business establishments, employees, and other metrics by county and county-equivalent in the US. To tidy this data, the desired format would include a multi-index of geo_id (unique county identifier) and year with columns providing values for number of establishments and employees for each NAICS (industry) sector.

### Creating a list of dataframes from each year's csv file

In [44]:
filenames = glob("data/raw/BP_*_00A1.csv")

In [45]:
dataframes = [pd.read_csv(f, encoding='latin-1') for f in filenames]

### Removing punctuation from column names

In [46]:
# remove punctuation from column names
for dataframe in dataframes:
    newcols = []
    for column in dataframe.columns:
        column = column.replace(".","").replace("-","").replace("_","")
        newcols.append(column)
    dataframe.columns = newcols

### Addressing missing data and schema changes over the years

In [47]:
# Preparing dataframes for each year of county business information
cbp2005_2015 =[]

for dataframe in dataframes:
    
    #rename columns
    dataframe = dataframe[["GEOid2",
                           "GEOdisplaylabel",
                           "GEOfipsstatecode",
                           "GEOfipscountycode",
                           "NAICSdisplaylabel",
                           "ESTAB",
                           "EMP",
                           "YEARid"]]
    dataframe.columns = ["geo_id",
                       "county_name",
                       "state_fips",
                       "county_fips",
                       "naics_industry",
                       "establishments",
                       "employees",
                       "year"]
    
    #exclude state totals
    dataframe = dataframe[dataframe.county_fips != 999]
    
    #exclude puerto rico
    dataframe = dataframe[dataframe.state_fips != 72] 
    
    #exclude retired Alaskan Provinces/Counties
    dataframe = dataframe[dataframe.geo_id != 2201]
    dataframe = dataframe[dataframe.geo_id != 2232]
    dataframe = dataframe[dataframe.geo_id != 2280]
    
    #exclude totals
    dataframe = dataframe[dataframe.naics_industry != "Total for all sectors"]
    
    #apply updated NAICS sector code name
    dataframe = dataframe.replace(to_replace="Mining ", value="Mining, quarrying, and oil and gas extraction")

    #source typo corrections
    dataframe.county_name = dataframe.county_name.str.replace("Dona Ana County, New Mexico","Doña Ana County, New Mexico")
    dataframe.county_name = dataframe.county_name.str.replace("DoÃ±a Ana County, New Mexico","Doña Ana County, New Mexico")
    dataframe.county_name = dataframe.county_name.str.replace("La Salle County, Illinois","LaSalle County, Illinois")
    dataframe.county_name = dataframe.county_name.str.replace("La Salle Parish, Louisiana","LaSalle Parish, Louisiana")    
    
    cbp2005_2015.append(dataframe)

### Merge now-consistent dataframes into one dataframe with data from each year

In [48]:
cbp = pd.concat(cbp2005_2015)

### Cleanup on the resulting combined dataframe
Missing values for a number of counties were discovered by comparing unique counties from each year.
 - Loving County, TX and Kalawao County, Hawaii are assumed to have no business activity some years
 - New Alasakan counties are created from existing counties, and are best estimated by backfilling the missing data.

In [49]:
#fill in 0s for missing Loving County entries

loving = cbp[cbp.county_name == 'Loving County, Texas']
loving15 = loving.groupby(["geo_id", 
                          "county_name", 
                          "state_fips", 
                          "county_fips", 
                          "naics_industry"])["year", "establishments","employees"]
loving2 = loving15.apply(lambda x: x.set_index("year").reindex(range(2005, 2016), fill_value=0)).reset_index()
loving3 = cbp.merge(loving2, how="outer", on=["year",
                                                  "geo_id",
                                                  "county_name",
                                                  "state_fips",
                                                  "county_fips",
                                                  "naics_industry",
                                                  "establishments",
                                                  "employees"])


#fill in 0s for missing Kalawao County entries

kalawao = loving3[loving3.county_name == 'Kalawao County, Hawaii']
kalawao15 = kalawao.groupby(["geo_id", 
                          "county_name", 
                          "state_fips", 
                          "county_fips", 
                          "naics_industry"])["year", "establishments","employees"]
kalawao2 = kalawao15.apply(lambda x: x.set_index("year").reindex(range(2005, 2016), fill_value=0)).reset_index()
kalawao3 = loving3.merge(kalawao2, how="outer", on=["year",
                                                  "geo_id",
                                                  "county_name",
                                                  "state_fips",
                                                  "county_fips",
                                                  "naics_industry",
                                                  "establishments",
                                                  "employees"])


#backfill the five new alaskan counties

fill_counties = ['Petersburg Census Area, Alaska', 'Skagway Municipality, Alaska', 'Prince of Wales-Hyder Census Area, Alaska', 'Wrangell City and Borough, Alaska', 'Hoonah-Angoon Census Area, Alaska']
dataframeA = kalawao3
    
for fill_county in fill_counties:
    dataframeB = dataframeA[dataframeA.county_name == fill_county].groupby(["geo_id", 
                          "county_name", 
                          "state_fips", 
                          "county_fips", 
                          "naics_industry"])["year", "establishments","employees"].apply(lambda x: x.set_index("year").reindex(range(2005, 2016), method="bfill")).reset_index().merge(dataframeA, how="outer", on=["year",
                                                  "geo_id",
                                                  "county_name",
                                                  "state_fips",
                                                  "county_fips",
                                                  "naics_industry",
                                                  "establishments",
                                                  "employees"])
    dataframeA = dataframeB
    
    
#fill privacy-concerned NaNs with 0s, zip est & emp into a tuple column, drop est & emp cols
dataframeA = dataframeA.fillna(0)


#normalize geo_id, state_fips, and county_fips to consistent lengths
dataframeA["geo_id"] = dataframeA["geo_id"].apply(lambda x: "%05d" % (x,))
dataframeA["state_fips"] = dataframeA["state_fips"].apply(lambda x: "%02d" % (x,))
dataframeA["county_fips"] = dataframeA["county_fips"].apply(lambda x: "%03d" % (x,))


#reshaping dataframe
dataframeA = dataframeA.pivot_table(index=["geo_id", "county_name", "state_fips", "county_fips", "year"], 
                       columns="naics_industry", 
                       values=["establishments", "employees"], 
                       fill_value=0)
businesses_df = dataframeA.reset_index(["state_fips", "county_fips", "county_name"])

## Internal Revenue Service Migration Data
The second data source is [U.S. Population Migration Data](https://www.irs.gov/statistics/soi-tax-stats-migration-data), an annual IRS report that identifies tax filers' filing location for the current and previous year. Separate files are provided for inflow and outflow of tax filers. Furthermore, data is stored in three different formats in the years of interest, including CSV and XLS files.

### Wrangling functions for migration inflow files

In [8]:
def wrangleXLi2005_2009 (xls_year, file):
    #Wrangles one XLS file for county inflows between 2005 and 2009
    
    df = pd.read_excel(file, skiprows=6)


    #construct year 2 geo_id from state and county columns
    df["County"] = df["County"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y2_geo_id"] =  df["State"] + df["County"]

    #construct year 1 geo_id from state and county columns
    df["State.1"] = df["State.1"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County.1"] = df["County.1"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y1_geo_id"] =  df["State.1"] + df["County.1"]


    #drop summary rows
    df = df[df["State.1"] != "96"]
    df = df[df["State.1"] != "97"]
    df = df[df["State.1"] != "98"]

    #drop redundant geo-identifying rows
    df = df.drop(["State", "County", "State.1", "County.1", "State totals, county totals,", "State.2"], axis=1)

    #add year column
    df["year"] = int(xls_year)

    #drop that pesky lingering header line at the top
    df = df[df["gross"] != "income"]

    #rename columns appropriately
    df.columns = ["returns_inflow", "exemptions_inflow", "agi_inflow", "geo_id", "inflow_geo_id", "year"]

    #return everything to numeric types. why did it change in the first place?
    df["returns_inflow"] = pd.to_numeric(df["returns_inflow"], errors="coerce")
    df["exemptions_inflow"] = pd.to_numeric(df["exemptions_inflow"], errors="coerce")
    df["agi_inflow"] = pd.to_numeric(df["agi_inflow"], errors="coerce")

    #cut out the 0s
    df = df[df["geo_id"] != "00000"]
    
    #pivot table to observations of countie migrations by year with origin arrtibutes
    df = df.pivot_table(index=["geo_id", "year"], 
                           columns="inflow_geo_id", 
                           values=["returns_inflow", "exemptions_inflow", "agi_inflow"], 
                           fill_value=0) 
    df = df.fillna(0)
    
    return df

In [9]:
def wrangleXLi2010_2011 (xls_year, file):
    #Wrangles one XLS file for county inflows between 2010 and 2011
    
    df = pd.read_excel(file, skiprows=4, skip_footer=3)


    #construct year 2 geo_id from state and county columns
    df["State Code"] = df["State Code"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County Code"] = df["County Code"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y2_geo_id"] =  df["State Code"] + df["County Code"]

    #construct year 1 geo_id from state and county columns
    df["State Code.1"] = df["State Code.1"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County Code.1"] = df["County Code.1"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y1_geo_id"] =  df["State Code.1"] + df["County Code.1"]


    #drop summary rows
    df = df[df["State Code.1"] != "96"]
    df = df[df["State Code.1"] != "97"]
    df = df[df["State Code.1"] != "98"]

    #drop redundant geo-identifying rows
    df = df.drop(["State Code", "County Code", "State Code.1", "County Code.1", "State", "County Name"], axis=1)

    #add year column
    df["year"] = int(xls_year)

    #rename columns appropriately
    df.columns = ["returns_inflow", "exemptions_inflow", "agi_inflow", "geo_id", "inflow_geo_id", "year"]

    #return everything to numeric types. why did it change in the first place?
    df["returns_inflow"] = pd.to_numeric(df["returns_inflow"], errors="coerce")
    df["exemptions_inflow"] = pd.to_numeric(df["exemptions_inflow"], errors="coerce")
    df["agi_inflow"] = pd.to_numeric(df["agi_inflow"], errors="coerce")

    #cut out the 0s
    df = df[df["geo_id"] != "00000"]
    
    #pivot table to observations of countie migrations by year with origin arrtibutes
    df = df.pivot_table(index=["geo_id", "year"], 
                           columns="inflow_geo_id", 
                           values=["returns_inflow", "exemptions_inflow", "agi_inflow"], 
                           fill_value=0)
    df = df.fillna(0)
    
    return df

In [10]:
def wrangleCSVi2012_2015 (csv_year, file):
    #Wrangles one CSV file for county inflows between 2012 and 2015
    
    #dataframes = [pd.read_csv(f, encoding='latin-1') for f in filenames]
    
    df = pd.read_csv(file, encoding='latin-1')
    
    #Normalize state and county fips codes to 2 and 3 digits respectively
    df["y1_statefips"] = df["y1_statefips"].apply(lambda x: "%02d" % (x,))
    df["y1_countyfips"] = df["y1_countyfips"].apply(lambda x: "%03d" % (x,))
    df["y2_statefips"] = df["y2_statefips"].apply(lambda x: "%02d" % (x,))
    df["y2_countyfips"] = df["y2_countyfips"].apply(lambda x: "%03d" % (x,))

    #Create geo_id to represent year 1 and year 2 locations
    df["y1_geo_id"] = df["y1_statefips"] + df["y1_countyfips"]
    df["y2_geo_id"] = df["y2_statefips"] + df["y2_countyfips"]

    #drop summary rows
    df = df[df["y1_statefips"] != "96"]
    df = df[df["y1_statefips"] != "97"]
    df = df[df["y1_statefips"] != "98"]

    #replace null values with 0s for computation
    df = df.replace(to_replace=-1, value=0)

    #drop redundant columns
    df = df.drop(["y2_statefips", "y2_countyfips", "y1_statefips", "y1_countyfips", "y1_state", "y1_countyname"], axis=1)

    #add year column
    df["year"] = int(csv_year)
    

    #pivot table to observations of countie migrations by year with origin arrtibutes

    df = df.rename(index=str, columns={"agi":"agi_inflow", "n1":"returns_inflow", "n2":"exemptions_inflow", "y2_geo_id":"geo_id", "y1_geo_id":"inflow_geo_id"})
    
    #cut out the 0s
    df = df[df["geo_id"] != "00000"]
    
    df = df.pivot_table(index=["geo_id", "year"], 
                       columns="inflow_geo_id", 
                       values=["returns_inflow", "exemptions_inflow", "agi_inflow"], 
                       fill_value=0)
    df = df.fillna(0)

    return df

### Wrangling functions for migration outflow files

In [11]:
def wrangleXLo2005_2009 (xls_year, file):
    #Wrangles one XLS file for county outflows between 2005 and 2009
    
    df = pd.read_excel(file, skiprows=6)


    #construct year 2 geo_id from state and county columns
    df["County"] = df["County"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y2_geo_id"] =  df["State"] + df["County"]

    #construct year 1 geo_id from state and county columns
    df["State.1"] = df["State.1"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County.1"] = df["County.1"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y1_geo_id"] =  df["State.1"] + df["County.1"]


    #drop summary rows
    df = df[df["State.1"] != "96"]
    df = df[df["State.1"] != "97"]
    df = df[df["State.1"] != "98"]

    #drop redundant geo-identifying rows
    df = df.drop(["State", "County", "State.1", "County.1", "State totals, county totals,", "State.2"], axis=1)

    #add year column
    df["year"] = int(xls_year)

    #drop that pesky lingering header line at the top
    df = df[df["gross"] != "income"]

    #rename columns appropriately
    df.columns = ["returns_outflow", "exemptions_outflow", "agi_outflow", "geo_id", "outflow_geo_id", "year"]

    #return everything to numeric types. why did it change in the first place?
    df["returns_outflow"] = pd.to_numeric(df["returns_outflow"], errors="coerce")
    df["exemptions_outflow"] = pd.to_numeric(df["exemptions_outflow"], errors="coerce")
    df["agi_outflow"] = pd.to_numeric(df["agi_outflow"], errors="coerce")
    
    #cut out the 0s
    df = df[df["geo_id"] != "00000"]
    
    #pivot table to observations of countie migrations by year with origin arrtibutes
    df = df.pivot_table(index=["geo_id", "year"], 
                           columns="outflow_geo_id", 
                           values=["returns_outflow", "exemptions_outflow", "agi_outflow"], 
                           fill_value=0)
    df = df.fillna(0)
    
    return df

In [12]:
def wrangleXLo2010_2011 (xls_year, file):
    #Wrangles one XLS file for county outflows between 2010 and 2011
    
    df = pd.read_excel(file, skiprows=4, skip_footer=3)


    #construct year 2 geo_id from state and county columns
    df["State Code"] = df["State Code"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County Code"] = df["County Code"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y2_geo_id"] =  df["State Code"] + df["County Code"]

    #construct year 1 geo_id from state and county columns
    df["State Code.1"] = df["State Code.1"].fillna(0).astype("int64").apply(lambda x: "%02d" % (x,))
    df["County Code.1"] = df["County Code.1"].fillna(0).astype("int64").apply(lambda x: "%03d" % (x,))
    df["y1_geo_id"] =  df["State Code.1"] + df["County Code.1"]


    #drop summary rows
    df = df[df["State Code.1"] != "96"]
    df = df[df["State Code.1"] != "97"]
    df = df[df["State Code.1"] != "98"]

    #drop redundant geo-identifying rows
    df = df.drop(["State Code", "County Code", "State Code.1", "County Code.1", "State", "County Name"], axis=1)

    #add year column
    df["year"] = int(xls_year)

    #rename columns appropriately
    df.columns = ["returns_outflow", "exemptions_outflow", "agi_outflow", "geo_id", "outflow_geo_id", "year"]

    #return everything to numeric types. why did it change in the first place?
    df["returns_outflow"] = pd.to_numeric(df["returns_outflow"], errors="coerce")
    df["exemptions_outflow"] = pd.to_numeric(df["exemptions_outflow"], errors="coerce")
    df["agi_outflow"] = pd.to_numeric(df["agi_outflow"], errors="coerce")
    
    #cut out the 0s
    df = df[df["geo_id"] != "00000"]

    #pivot table to observations of countie migrations by year with origin arrtibutes
    df = df.pivot_table(index=["geo_id", "year"], 
                           columns="outflow_geo_id", 
                           values=["returns_outflow", "exemptions_outflow", "agi_outflow"], 
                           fill_value=0)
    df = df.fillna(0)

    return df

In [13]:
def wrangleCSVo2012_2015 (csv_year, file):
    #Wrangles one CSV file for county outflows between 2012 and 2015
        
    df = pd.read_csv(file, encoding='latin-1')
    
    #Normalize state and county fips codes to 2 and 3 digits respectively
    df["y1_statefips"] = df["y1_statefips"].apply(lambda x: "%02d" % (x,))
    df["y1_countyfips"] = df["y1_countyfips"].apply(lambda x: "%03d" % (x,))
    df["y2_statefips"] = df["y2_statefips"].apply(lambda x: "%02d" % (x,))
    df["y2_countyfips"] = df["y2_countyfips"].apply(lambda x: "%03d" % (x,))

    #Create geo_id to represent year 1 and year 2 locations
    df["y1_geo_id"] = df["y1_statefips"] + df["y1_countyfips"]
    df["y2_geo_id"] = df["y2_statefips"] + df["y2_countyfips"]

    #drop summary rows
    df = df[df["y2_statefips"] != "96"]
    df = df[df["y2_statefips"] != "97"]
    df = df[df["y2_statefips"] != "98"]

    #replace null values with 0s for computation
    df = df.replace(to_replace=-1, value=0)

    #drop redundant columns
    df = df.drop(["y2_statefips", "y2_countyfips", "y1_statefips", "y1_countyfips", "y2_state", "y2_countyname"], axis=1)

    #add year column
    df["year"] = int(csv_year)
    
    #pivot table to observations of countie migrations by year with origin arrtibutes

    df = df.rename(index=str, columns={"agi":"agi_outflow", "n1":"returns_outflow", "n2":"exemptions_outflow", "y1_geo_id":"geo_id", "y2_geo_id":"outflow_geo_id"})
    
    #cut out the 0s
    df = df[df["geo_id"] != "00000"]
    
    df = df.pivot_table(index=["geo_id", "year"], 
                       columns="outflow_geo_id", 
                       values=["returns_outflow", "exemptions_outflow", "agi_outflow"], 
                       fill_value=0)
    
    df = df.fillna(0)

    return df

### Preparing to ingest files, segmented by file-naming convention

In [14]:
#list of year names using latter 2 digits as 20XX
yearlist1 = ["0405", "0506", "0607"]
yearlist2 = ["0708", "0809"]
yearlist3 = ["0910", "1011"]
yearlist4 = ["1112", "1213", "1314", "1415"]

### Creating a dictionary of years and inflow files
Although the IRS website declares that their format changed in 2012, there are three different file formats and four different file-naming conventions. Part of the complexity comes from the change from trailing to preceding inflow/outflow abbreviation letters competing with recognition of state abbreviations that begin or end with "o" or "i". The implemented solution works around the glob pattern recognition limitations to avoid importing another package.

In [15]:
#glob all inflow filenames for 2005-2009
inflows2005_2009 = {}

for year in yearlist1:
    globstring = "data/raw/countyflow" + year + "/co" + year + "??i.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    inflows2005_2009[year_formatted] = glob_year

for year in yearlist2:
    globstring = "data/raw/countyflow" + year + "/co" + year + "i??.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    inflows2005_2009[year_formatted] = glob_year    
    
    
#glob inflow filenames for 2010 and 2011
inflows2010_2011 = {}

for year in yearlist3:
    globstring = "data/raw/countyflow" + year + "/co" + year + "i??.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    inflows2010_2011[year_formatted] = glob_year    


#glob inflow filenames for 2012-2015
inflows2012_2015 = {}

for year in yearlist4:
    year_formatted = "20" + year[2:4]
    inflows2012_2015[year_formatted] = "data/raw/countyinflow" + year + ".csv"

### Creating a dictionary of years and outflow files

The same process is repeated for outflow files

In [16]:
#glob all outflow filenames for 2005-2009
outflows2005_2009 = {}

for year in yearlist1:
    globstring = "data/raw/countyflow" + year + "/co" + year + "??o.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    outflows2005_2009[year_formatted] = glob_year
    
for year in yearlist2:
    globstring = "data/raw/countyflow" + year + "/co" + year + "o??.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    outflows2005_2009[year_formatted] = glob_year    
    
    
#glob outflow filenames for 2010 and 2011
outflows2010_2011 = {}

for year in yearlist3:
    globstring = "data/raw/countyflow" + year + "/co" + year + "o??.xls"
    glob_year = glob(globstring)
    
    year_formatted = "20" + year[2:4]
    
    outflows2010_2011[year_formatted] = glob_year    


#glob inflow filenames for 2012-2015
outflows2012_2015 = {}

for year in yearlist4:
    year_formatted = "20" + year[2:4]
    outflows2012_2015[year_formatted] = "data/raw/countyoutflow" + year + ".csv"

### Listing wrangled dataframes together

These cells aggregate dataframes for inflows and outflows into lists for concatenation

In [17]:
inflows = []

# yeardict = {"2010": filenames2005_2009["2010"]}

for year, files in inflows2005_2009.items():
    for file in files:
        inflows.append(wrangleXLi2005_2009(year, file))
        
for year, files in inflows2010_2011.items():
    for file in files:
        inflows.append(wrangleXLi2010_2011(year, file))
        
for year, file in inflows2012_2015.items():
    inflows.append(wrangleCSVi2012_2015(year, file))

In [18]:
outflows = []

for year, files in outflows2005_2009.items():
    for file in files:
        outflows.append(wrangleXLo2005_2009(year, file))
        
for year, files in outflows2010_2011.items():
    for file in files:
        outflows.append(wrangleXLo2010_2011(year, file))
        
for year, file in outflows2012_2015.items():
    outflows.append(wrangleCSVo2012_2015(year, file))

### Master dataframes for inflow and outflow

In [19]:
inflow_df = pd.concat(inflows).fillna(0).sort_index()

In [20]:
outflow_df = pd.concat(outflows).fillna(0).sort_index()

### Final dataframes

Over 11 years, 3,142 counties would produce 34,562 records.

In [21]:
print(inflow_df.shape)
print(outflow_df.shape)
print(businesses_df.shape)

(34564, 9477)
(34563, 9477)
(34562, 43)

In [22]:
inflow_df.head()

              agi_inflow                                                     \
inflow_geo_id      01001   01003 01005 01007 01009 01011  01013 01015 01017
geo_id year
01001  2005     714261.0   720.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0
       2006     756692.0   501.0   0.0   0.0   0.0   0.0  858.0   0.0   0.0
       2007     827611.0   676.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0
       2008     901200.0  1086.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0
       2009     936888.0     0.0   0.0   0.0   0.0   0.0  415.0   0.0   0.0

                     ...  returns_inflow                                       \
inflow_geo_id 01019  ...           57003 57005 57007 57009  58000 59000 59001
geo_id year          ...
01001  2005     0.0  ...             0.0   0.0   0.0  46.0  132.0   572    40
       2006     0.0  ...             0.0   0.0   0.0  50.0  129.0   613    35
       2007     0.0  ...             0.0   0.0   0.0  68.0  112.0   599    33
       2008     0.0  ...             0.0   0.0   0.0  53.0  124.0   619    45
       2009     0.0  ...             0.0   0.0   0.0  56.0  156.0   601    26


inflow_geo_id 59003 59005 59007
geo_id year
01001  2005      85   347   100
       2006      82   408    88
       2007      97   354   115
       2008      91   397    86
       2009      86   390    99

[5 rows x 9477 columns]

In [23]:
outflow_df.head()

               agi_outflow                                                    \
outflow_geo_id       01001   01003 01005 01007 01009 01011 01013 01015 01017
geo_id year
01001  2005       714261.0   786.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       2006       756692.0   598.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       2007       827611.0   761.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       2008       901200.0     0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
       2009       936888.0  1267.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

                      ...  returns_outflow                                 \
outflow_geo_id 01019  ...            57003 57005 57007 57009  58000 59000
geo_id year           ...
01001  2005      0.0  ...              0.0   0.0   0.0  42.0  105.0   501
       2006      0.0  ...              0.0   0.0   0.0  47.0  107.0   536
       2007      0.0  ...              0.0   0.0   0.0  42.0  115.0   528
       2008      0.0  ...              0.0   0.0   0.0  36.0  159.0   553
       2009      0.0  ...              0.0   0.0   0.0  31.0  123.0   580


outflow_geo_id 59001 59003 59005 59007
geo_id year
01001  2005       20    51   344    86
       2006       27    53   384    72
       2007       25    71   336    96
       2008       35    73   356    89
       2009       25    71   413    71

[5 rows x 9477 columns]

In [50]:
businesses_df.head(22)

                            county_name state_fips county_fips  \
naics_industry
geo_id year
01001  2005     Autauga County, Alabama         01         001
       2006     Autauga County, Alabama         01         001
       2007     Autauga County, Alabama         01         001
       2008     Autauga County, Alabama         01         001
       2009     Autauga County, Alabama         01         001
       2010     Autauga County, Alabama         01         001
       2011     Autauga County, Alabama         01         001
       2012     Autauga County, Alabama         01         001
       2013     Autauga County, Alabama         01         001
       2014     Autauga County, Alabama         01         001
       2015     Autauga County, Alabama         01         001
01003  2005     Baldwin County, Alabama         01         003
       2006     Baldwin County, Alabama         01         003
       2007     Baldwin County, Alabama         01         003
       2008     Baldwin County, Alabama         01         003
       2009     Baldwin County, Alabama         01         003
       2010     Baldwin County, Alabama         01         003
       2011     Baldwin County, Alabama         01         003
       2012     Baldwin County, Alabama         01         003
       2013     Baldwin County, Alabama         01         003
       2014     Baldwin County, Alabama         01         003
       2015     Baldwin County, Alabama         01         003

                                     employees  \
naics_industry Accommodation and food services
geo_id year
01001  2005                               1706
       2006                               1919
       2007                               2195
       2008                               2399
       2009                               2309
       2010                               2318
       2011                               2197
       2012                               1964
       2013                               2056
       2014                               1973
       2015                               2091
01003  2005                               7252
       2006                               7914
       2007                               8372
       2008                               9089
       2009                               8668
       2010                               8903
       2011                               9983
       2012                              10558
       2013                              11453
       2014                              11994
       2015                              12081

                                                                                         \
naics_industry Administrative and support and waste management and remediation services
geo_id year
01001  2005                                                   280
       2006                                                   213
       2007                                                   379
       2008                                                   200
       2009                                                   189
       2010                                                   103
       2011                                                    86
       2012                                                    61
       2013                                                     0
       2014                                                   111
       2015                                                   151
01003  2005                                                  1946
       2006                                                  2307
       2007                                                  2641
       2008                                                  2405
       2009                                                  2367
       2010                                                  2278
       2011                                                  2548
       2012                                                  2734
       2013                                                  2594
       2014                                                  2706
       2015                                                  2780

                                                           \
naics_industry Agriculture, forestry, fishing and hunting
geo_id year
01001  2005                                             0
       2006                                            36
       2007                                             0
       2008                                            45
       2009                                            31
       2010                                            33
       2011                                            33
       2012                                            30
       2013                                            33
       2014                                            58
       2015                                            70
01003  2005                                           171
       2006                                            46
       2007                                            68
       2008                                             0
       2009                                            23
       2010                                             0
       2011                                            24
       2012                                            23
       2013                                            25
       2014                                             0
       2015                                            14

                                                                 \
naics_industry Arts, entertainment, and recreation Construction
geo_id year
01001  2005                                      0          642
       2006                                      0          617
       2007                                    388          563
       2008                                    236          610
       2009                                    217          525
       2010                                    171          486
       2011                                    191          455
       2012                                      0          404
       2013                                    265          391
       2014                                    244          349
       2015                                    207          372
01003  2005                                    942         4677
       2006                                   1008         5392
       2007                                   1135         5623
       2008                                   1071         5326
       2009                                    965         4051
       2010                                    923         3362
       2011                                    902         2727
       2012                                    867         2629
       2013                                    966         2893
       2014                                    976         2848
       2015                                   1009         3145

                                                                ...        \
naics_industry Educational services Finance and insurance       ...
geo_id year                                                     ...
01001  2005                      57                   273       ...
       2006                      62                   260       ...
       2007                      66                   332       ...
       2008                      58                   329       ...
       2009                       0                   333       ...
       2010                       0                   322       ...
       2011                       0                   417       ...
       2012                       0                   409       ...
       2013                       0                   425       ...
       2014                       0                   374       ...
       2015                     139                   375       ...
01003  2005                     390                  1592       ...
       2006                     455                  1425       ...
       2007                     511                  1641       ...
       2008                     629                  1729       ...
       2009                     679                  1714       ...
       2010                     964                  1617       ...
       2011                    1241                  1574       ...
       2012                    1202                  1604       ...
       2013                     953                  1611       ...
       2014                     946                  1596       ...
       2015                    1148                  1590       ...

                                        establishments                \
naics_industry Management of companies and enterprises Manufacturing
geo_id year
01001  2005                                          4            33
       2006                                          5            30
       2007                                          4            33
       2008                                          5            30
       2009                                          4            31
       2010                                          4            27
       2011                                          2            25
       2012                                          4            24
       2013                                          3            21
       2014                                          2            21
       2015                                          2            24
01003  2005                                          9           154
       2006                                         10           151
       2007                                         15           156
       2008                                         20           169
       2009                                         23           158
       2010                                         13           144
       2011                                         14           144
       2012                                         19           147
       2013                                         21           151
       2014                                         19           152
       2015                                         22           159

                                                              \
naics_industry Mining, quarrying, and oil and gas extraction
geo_id year
01001  2005                                                4
       2006                                                4
       2007                                                4
       2008                                                4
       2009                                                5
       2010                                                5
       2011                                                2
       2012                                                2
       2013                                                2
       2014                                                3
       2015                                                3
01003  2005                                                9
       2006                                               10
       2007                                                7
       2008                                                9
       2009                                                8
       2010                                                7
       2011                                                7
       2012                                                9
       2013                                                8
       2014                                                9
       2015                                                9

                                                              \
naics_industry Other services (except public administration)
geo_id year
01001  2005                                              109
       2006                                              105
       2007                                              114
       2008                                              114
       2009                                              114
       2010                                              121
       2011                                              113
       2012                                              113
       2013                                              118
       2014                                              116
       2015                                              117
01003  2005                                              436
       2006                                              434
       2007                                              451
       2008                                              446
       2009                                              436
       2010                                              423
       2011                                              425
       2012                                              435
       2013                                              451
       2014                                              453
       2015                                              479

                                                                 \
naics_industry Professional, scientific, and technical services
geo_id year
01001  2005                                                  63
       2006                                                  66
       2007                                                  61
       2008                                                  63
       2009                                                  60
       2010                                                  58
       2011                                                  55
       2012                                                  57
       2013                                                  52
       2014                                                  50
       2015                                                  47
01003  2005                                                 402
       2006                                                 417
       2007                                                 478
       2008                                                 443
       2009                                                 446
       2010                                                 436
       2011                                                 442
       2012                                                 449
       2013                                                 454
       2014                                                 449
       2015                                                 474

                                                                \
naics_industry Real estate and rental and leasing Retail trade
geo_id year
01001  2005                                    35          176
       2006                                    34          180
       2007                                    30          176
       2008                                    38          176
       2009                                    37          175
       2010                                    37          173
       2011                                    34          168
       2012                                    31          163
       2013                                    34          164
       2014                                    34          165
       2015                                    40          169
01003  2005                                   285          954
       2006                                   313          983
       2007                                   348         1026
       2008                                   326          990
       2009                                   308          964
       2010                                   287          946
       2011                                   281          929
       2012                                   284          957
       2013                                   282          964
       2014                                   306          975
       2015                                   329          986


naics_industry Transportation and warehousing Utilities Wholesale trade
geo_id year
01001  2005                                18         8              24
       2006                                17         7              27
       2007                                13         6              28
       2008                                10        10              30
       2009                                10         9              30
       2010                                10         9              29
       2011                                14         9              29
       2012                                17         9              27
       2013                                16         9              27
       2014                                17         9              29
       2015                                16         9              29
01003  2005                               121        12             184
       2006                               124        11             190
       2007                               126        10             200
       2008                               118        10             222
       2009                               118        10             210
       2010                               106        10             202
       2011                               107        10             197
       2012                               109        10             216
       2013                               118        11             224
       2014                               131        11             229
       2015                               134        10             226

[22 rows x 43 columns]

In [36]:
inflow_df["agi_inflow"].to_csv("data/interim/agi_inflow.csv")
inflow_df["returns_inflow"].to_csv("data/interim/returns_inflow.csv")
inflow_df["exemptions_inflow"].to_csv("data/interim/exemptions_inflow.csv")

outflow_df["agi_outflow"].to_csv("data/interim/agi_outflow.csv")
outflow_df["returns_outflow"].to_csv("data/interim/returns_outflow.csv")
outflow_df["exemptions_outflow"].to_csv("data/interim/exemptions_outflow.csv")

businesses_df["establishments"].to_csv("data/interim/establishments.csv")
businesses_df["employees"].to_csv("data/interim/employees.csv")

In [82]:
inflow_set = set(inflow_df["exemptions_inflow"].reset_index("year").index)

In [80]:
biz_set = set(businesses_df.reset_index("year").index)

In [81]:
len(biz_set)

3142

In [83]:
len(inflow_set)

3148

In [84]:
biz_set - inflow_set

set()

In [85]:
inflow_set - biz_set

{'02158', '02201', '02232', '02280', '46102', '48269'}

In [86]:
outflow_set = set(outflow_df["exemptions_outflow"].reset_index("year").index)

In [87]:
len(outflow_set)

3148

In [88]:
inflow_set - outflow_set

set()

In [89]:
outflow_set - inflow_set

set()

In [90]:
outflow_set - biz_set

{'02158', '02201', '02232', '02280', '46102', '48269'}

In [110]:
biz_plain = businesses_df.reset_index("year")

In [113]:
biz_plain.loc["48101"]

                year           county_name state_fips county_fips  \
naics_industry
geo_id
48101           2005  Cottle County, Texas         48         101
48101           2006  Cottle County, Texas         48         101
48101           2007  Cottle County, Texas         48         101
48101           2008  Cottle County, Texas         48         101
48101           2009  Cottle County, Texas         48         101
48101           2010  Cottle County, Texas         48         101
48101           2011  Cottle County, Texas         48         101
48101           2012  Cottle County, Texas         48         101
48101           2013  Cottle County, Texas         48         101
48101           2014  Cottle County, Texas         48         101
48101           2015  Cottle County, Texas         48         101

                                     employees  \
naics_industry Accommodation and food services
geo_id
48101                                       20
48101                                       32
48101                                        0
48101                                        0
48101                                        0
48101                                       23
48101                                       21
48101                                       19
48101                                        0
48101                                        0
48101                                        0

                                                                                         \
naics_industry Administrative and support and waste management and remediation services
geo_id
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0
48101                                                           0

                                                           \
naics_industry Agriculture, forestry, fishing and hunting
geo_id
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0
48101                                                   0

                                                                 \
naics_industry Arts, entertainment, and recreation Construction
geo_id
48101                                            0            9
48101                                            0           16
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0
48101                                            0            0

                                          ...        \
naics_industry Educational services       ...
geo_id                                    ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...
48101                             0       ...

                                        establishments                \
naics_industry Management of companies and enterprises Manufacturing
geo_id
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             0
48101                                                0             1
48101                                                0             1
48101                                                0             1

                                                              \
naics_industry Mining, quarrying, and oil and gas extraction
geo_id
48101                                                      1
48101                                                      1
48101                                                      1
48101                                                      1
48101                                                      0
48101                                                      0
48101                                                      0
48101                                                      0
48101                                                      0
48101                                                      0
48101                                                      0

                                                              \
naics_industry Other services (except public administration)
geo_id
48101                                                      5
48101                                                      4
48101                                                      4
48101                                                      4
48101                                                      4
48101                                                      3
48101                                                      3
48101                                                      3
48101                                                      3
48101                                                      3
48101                                                      3

                                                                 \
naics_industry Professional, scientific, and technical services
geo_id
48101                                                         0
48101                                                         0
48101                                                         1
48101                                                         1
48101                                                         0
48101                                                         0
48101                                                         0
48101                                                         0
48101                                                         0
48101                                                         1
48101                                                         1

                                                                \
naics_industry Real estate and rental and leasing Retail trade
geo_id
48101                                           1            7
48101                                           1            7
48101                                           0            7
48101                                           0            6
48101                                           0            8
48101                                           0            6
48101                                           0            7
48101                                           0            5
48101                                           0            6
48101                                           0            6
48101                                           1            6


naics_industry Transportation and warehousing Utilities Wholesale trade
geo_id
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       1         2               0
48101                                       2         2               0
48101                                       2         2               0
48101                                       2         2               0

[11 rows x 44 columns]

In [30]:
dataframes[9][dataframes[9]["NAICSdisplaylabel"]== "Retail trade"]

,GEOid,GEOid2,GEOdisplaylabel,GEOannotationid,GEOtypeflag,GEOfipsstatecode,GEOfipscountycode,GEOfipscsacode,GEOfipsmsacode,GEOfipsmdcode,...,NAICSannotationid,YEARid,YEARdisplaylabel,ESTAB,EMP,EMPN,PAYQTR1,PAYQTR1N,PAYANN,PAYANNN
7,0500000US01001,1001,"Autauga County, Alabama",NaN,3,1,1,999,33860,0,...,NaN,2014,Reference year 2014,165,2525.0,NaN,14304.0,NaN,58221.0,NaN
28,0500000US01003,1003,"Baldwin County, Alabama",NaN,3,1,3,380,19300,0,...,NaN,2014,Reference year 201,4975,13471.0,NaN,78885.0,NaN,325675.0,NaN
49,0500000US01005,1005,"Barbour County, Alabama",NaN,3,1,5,999,99999,0,...,NaN,2014,Reference year 2014,88,870.0,NaN,4678.0,NaN,18523.0,NaN
69,0500000US01007,1007,"Bibb County, Alabama",NaN,3,1,7,142,13820,0,...,NaN,2014,Reference year 2014,49,521.0,NaN,3052.0,NaN,11996.0,NaN
89,0500000US01009,1009,"Blount County, Alabama",NaN,3,1,9,142,13820,0,...,NaN,2014,Reference year 2014,128,1259.0,NaN,7425.0,NaN,30688.0,NaN
109,0500000US01011,1011,"Bullock County, Alabama",NaN,3,1,11,999,99999,0,...,NaN,2014,Reference year 2014,22,226.0,NaN,1198.0,NaN,5017.0,NaN
128,0500000US01013,1013,"Butler County, Alabama",NaN,3,1,13,999,99999,0,...,NaN,2014,Reference year 2014,101,926.0,NaN,5033.0,NaN,20782.0,NaN
149,0500000US01015,1015,"Calhoun County, Alabama",NaN,3,1,15,999,11500,0,...,NaN,2014,Reference year 2014,455,6129.0,NaN,34914.0,NaN,140846.0,NaN
169,0500000US01017,1017,"Chambers County, Alabama",NaN,3,1,17,194,46740,0,...,NaN,2014,Reference year 2014,111,1123.0,NaN,6253.0,NaN,25519.0,NaN
188,0500000US01019,1019,"Cherokee County, Alabama",NaN,3,1,19,999,99999,0,...,NaN,2014,Reference year 2014,87,838.0,NaN,4756.0,NaN,19343.0,NaN
207,0500000US01021,1021,"Chilton County, Alabama",NaN,3,1,21,142,13820,0,...,NaN,2014,Reference year 2014,148,1455.0,NaN,8382.0,NaN,35027.0,NaN
228,0500000US01023,1023,"Choctaw County, Alabama",NaN,3,1,23,999,99999,0,...,NaN,2014,Reference year 2014,50,377.0,NaN,1820.0,NaN,7520.0,NaN
249,0500000US01025,1025,"Clarke County, Alabama",NaN,3,1,25,999,99999,0,...,NaN,2014,Reference year 2014,137,1511.0,NaN,8658.0,NaN,34524.0,NaN
269,0500000US01027,1027,"Clay County, Alabama",NaN,3,1,27,999,99999,0,...,NaN,2014,Reference year 2014,41,292.0,NaN,1276.0,NaN,5404.0,NaN
288,0500000US01029,1029,"Cleburne County, Alabama",NaN,3,1,29,999,99999,0,...,NaN,2014,Reference year 2014,36,262.0,NaN,1888.0,NaN,8312.0,NaN
305,0500000US01031,1031,"Coffee County, Alabama",NaN,3,1,31,222,21460,0,...,NaN,2014,Reference year 2014,193,2273.0,NaN,14897.0,NaN,61482.0,NaN
326,0500000US01033,1033,"Colbert County, Alabama",NaN,3,1,33,999,22520,0,...,NaN,2014,Reference year 2014,225,2875.0,NaN,18415.0,NaN,76372.0,NaN
346,0500000US01035,1035,"Conecuh County, Alabama",NaN,3,1,35,999,99999,0,...,NaN,2014,Reference year 2014,37,296.0,NaN,1248.0,NaN,5160.0,NaN
365,0500000US01037,1037,"Coosa County, Alabama",NaN,3,1,37,142,45180,0,...,NaN,2014,Reference year 2014,18,154.0,NaN,750.0,NaN,3465.0,NaN
383,0500000US01039,1039,"Covington County, Alabama",NaN,3,1,39,999,99999,0,...,NaN,2014,Reference year 2014,192,1801.0,NaN,9907.0,NaN,42473.0,NaN
403,0500000US01041,1041,"Crenshaw County, Alabama",NaN,3,1,41,999,99999,0,...,NaN,2014,Reference year 2014,35,241.0,NaN,1311.0,NaN,5395.0,NaN
423,0500000US01043,1043,"Cullman County, Alabama",NaN,3,1,43,142,18980,0,...,NaN,2014,Reference year 2014,328,3598.0,NaN,21059.0,NaN,85402.0,NaN
443,0500000US01045,1045,"Dale County, Alabama",NaN,3,1,45,222,37120,0,...,NaN,2014,Reference year 2014,144,1253.0,NaN,6884.0,NaN,28254.0,NaN
464,0500000US01047,1047,"Dallas County, Alabama",NaN,3,1,47,999,42820,0,...,NaN,2014,Reference year 2014,172,1674.0,NaN,9616.0,NaN,38633.0,NaN
485,0500000US01049,1049,"DeKalb County, Alabama",NaN,3,1,49,999,99999,0,...,NaN,2014,Reference year 2014,250,2311.0,NaN,13160.0,NaN,56649.0,NaN
505,0500000US01051,1051,"Elmore County, Alabama",NaN,3,1,51,999,33860,0,...,NaN,2014,Reference year 2014,206,2868.0,NaN,16329.0,NaN,66650.0,NaN
526,0500000US01053,1053,"Escambia County, Alabama",NaN,3,1,53,999,99999,0,...,NaN,2014,Reference year 2014,165,1829.0,NaN,9499.0,NaN,36376.0,NaN
546,0500000US01055,1055,"Etowah County, Alabama",NaN,3,1,55,999,23460,0,...,NaN,2014,Reference year 2014,396,4465.0,NaN,24943.0,NaN,103268.0,NaN
567,0500000US01057,1057,"Fayette County, Alabama",NaN,3,1,57,999,99999,0,...,NaN,2014,Reference year 2014,66,579.0,NaN,3362.0,NaN,13869.0,NaN
588,0500000US01059,1059,"Franklin County, Alabama",NaN,3,1,59,999,99999,0,...,NaN,2014,Reference year 2014,95,936.0,NaN,4773.0,NaN,19333.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60522,0500000US55129,55129,"Washburn County, Wisconsin",NaN,3,55,129,999,99999,0,...,NaN,2014,Reference year 2014,83,730.0,NaN,3856.0,NaN,17792.0,NaN
60541,0500000US55131,55131,"Washington County, Wisconsin",NaN,3,55,131,376,33340,0,...,NaN,2014,Reference year 2014,370,7083.0,NaN,40632.0,NaN,165423.0,NaN
60562,0500000US55133,55133,"Waukesha County, Wisconsin",NaN,3,55,133,376,33340,0,...,NaN,2014,Reference year 2014,1293,24882.0,NaN,149982.0,NaN,637947.0,NaN
60583,0500000US55135,55135,"Waupaca County, Wisconsin",NaN,3,55,135,999,99999,0,...,NaN,2014,Reference year 2014,175,2381.0,NaN,12396.0,NaN,55137.0,NaN
60604,0500000US55137,55137,"Waushara County, Wisconsin",NaN,3,55,137,999,99999,0,...,NaN,2014,Reference year 2014,74,710.0,NaN,3517.0,NaN,15199.0,NaN
60624,0500000US55139,55139,"Winnebago County, Wisconsin",NaN,3,55,139,118,36780,0,...,NaN,2014,Reference year 2014,486,8700.0,NaN,46465.0,NaN,195165.0,NaN
60645,0500000US55141,55141,"Wood County, Wisconsin",NaN,3,55,141,554,49220,0,...,NaN,2014,Reference year 2014,282,4249.0,NaN,22990.0,NaN,96162.0,NaN
60666,0500000US56001,56001,"Albany County, Wyoming",NaN,3,56,1,999,29660,0,...,NaN,2014,Reference year 2014,134,1852.0,NaN,9054.0,NaN,39031.0,NaN
60687,0500000US56003,56003,"Big Horn County, Wyoming",NaN,3,56,3,999,99999,0,...,NaN,2014,Reference year 2014,44,402.0,NaN,2026.0,NaN,9134.0,NaN
60706,0500000US56005,56005,"Campbell County, Wyoming",NaN,3,56,5,999,23940,0,...,NaN,2014,Reference year 2014,189,2786.0,NaN,19530.0,NaN,82592.0,NaN
60727,0500000US56007,56007,"Carbon County, Wyoming",NaN,3,56,7,999,99999,0,...,NaN,2014,Reference year 2014,74,667.0,NaN,4158.0,NaN,18522.0,NaN
60748,0500000US56009,56009,"Converse County, Wyoming",NaN,3,56,9,999,99999,0,...,NaN,2014,Reference year 2014,56,427.0,NaN,2482.0,NaN,10973.0,NaN
60768,0500000US56011,56011,"Crook County, Wyoming",NaN,3,56,11,999,99999,0,...,NaN,2014,Reference year 2014,24,168.0,NaN,928.0,NaN,4291.0,NaN
60787,0500000US56013,56013,"Fremont County, Wyoming",NaN,3,56,13,999,40180,0,...,NaN,2014,Reference year 2014,164,2154.0,NaN,13374.0,NaN,59099.0,NaN
60807,0500000US56015,56015,"Goshen County, Wyoming",NaN,3,56,15,999,99999,0,...,NaN,2014,Reference year 2014,46,447.0,NaN,2217.0,NaN,9605.0,NaN
60827,0500000US56017,56017,"Hot Springs County, Wyoming",NaN,3,56,17,999,99999,0,...,NaN,2014,Reference year 2014,24,167.0,NaN,824.0,NaN,3588.0,NaN
60845,0500000US56019,56019,"Johnson County, Wyoming",NaN,3,56,19,999,99999,0,...,NaN,2014,Reference year 2014,49,355.0,NaN,2027.0,NaN,8570.0,NaN
60865,0500000US56021,56021,"Laramie County, Wyoming",NaN,3,56,21,999,16940,0,...,NaN,2014,Reference year 2014,364,6099.0,NaN,37858.0,NaN,183233.0,NaN
60886,0500000US56023,56023,"Lincoln County, Wyoming",NaN,3,56,23,999,99999,0,...,NaN,2014,Reference year 2014,85,624.0,NaN,3529.0,NaN,14934.0,NaN
60905,0500000US56025,56025,"Natrona County, Wyoming",NaN,3,56,25,999,16220,0,...,NaN,2014,Reference year 2014,359,5167.0,NaN,33479.0,NaN,146810.0,NaN
60925,0500000US56027,56027,"Niobrara County, Wyoming",NaN,3,56,27,999,99999,0,...,NaN,2014,Reference year 2014,17,127.0,NaN,650.0,NaN,2655.0,NaN
60945,0500000US56029,56029,"Park County, Wyoming",NaN,3,56,29,999,99999,0,...,NaN,2014,Reference year 2014,169,1622.0,NaN,9186.0,NaN,43531.0,NaN
60966,0500000US56031,56031,"Platte County, Wyoming",NaN,3,56,31,999,99999,0,...,NaN,2014,Reference year 2014,38,446.0,NaN,2384.0,NaN,10359.0,NaN
60985,0500000US56033,56033,"Sheridan County, Wyoming",NaN,3,56,33,999,43260,0,...,NaN,2014,Reference year 2014,151,1681.0,NaN,11434.0,NaN,49092.0,NaN
61006,0500000US56035,56035,"Sublette County, Wyoming",NaN,3,56,35,999,99999,0,...,NaN,2014,Reference year 2014,41,302.0,NaN,2057.0,NaN,8666.0,NaN
61027,0500000US56037,56037,"Sweetwater County, Wyoming",NaN,3,56,37,999,40540,0,...,NaN,2014,Reference year 2014,178,2505.0,NaN,16583.0,NaN,68659.0,NaN
61048,0500000US56039,56039,"Teton County, Wyoming",NaN,3,56,39,999,27220,0,...,NaN,2014,Reference year 2014,244,1959.0,NaN,13203.0,NaN,61104.0,NaN
61068,0500000US56041,56041,"Uinta County, Wyoming",NaN,3,56,41,999,21740,0,...,NaN,2014,Reference year 2014,84,1116.0,NaN,5992.0,NaN,25410.0,NaN
61088,0500000US56043,56043,"Washakie County, Wyoming",NaN,3,56,43,999,99999,0,...,NaN,2014,Reference year 2014,43,363.0,NaN,2275.0,NaN,11811.0,NaN
61108,0500000US56045,56045,"Weston County, Wyoming",NaN,3,56,45,999,99999,0,...,NaN,2014,Reference year 2014,32,312.0,NaN,1544.0,NaN,6654.0,NaN

In [42]:
dataframes[10][dataframes[10]["YEARdisplaylabel"]== "Reference year 201"]

Empty DataFrame
Columns: [GEOid, GEOid2, GEOdisplaylabel, GEOannotationid, GEOtypeflag, GEOfipsstatecode, GEOfipscountycode, GEOfipscsacode, GEOfipsmsacode, GEOfipsmdcode, NAICSid, NAICSdisplaylabel, NAICSannotationid, YEARid, YEARdisplaylabel, ESTAB, EMP, EMPN, PAYQTR1, PAYQTR1N, PAYANN, PAYANNN]
Index: []

[0 rows x 22 columns]

In [51]:
businesses_df["establishments"].to_csv("data/interim/establishments.csv")