In [1]:
import numpy as np
import pandas as pd
from glob import glob

In [2]:
df_key = pd.read_csv("data/raw/key.csv", encoding='latin-1')

In [3]:
df_key.columns

Index(['Geographic identifier code', 'Id2', 'Geographic area name', 'Id',
       'Type of geography flag', 'FIPS state code', 'FIPS county code',
       'FIPS Combined Statistical Area code',
       'FIPS Metropolitan Statistical Area or Micropolitan Statistical Area code',
       'FIPS Metropolitan Division code', '2012 NAICS code',
       'Meaning of 2012 NAICS code', 'Id.1', 'Year', 'Meaning of Year',
       'Number of establishments',
       'Paid employees for pay period including March 12 (number)',
       'Noise range for number of paid employees for pay period including March 12 ',
       'First-quarter payroll ($1,000)',
       'Noise range for first-quarter payroll (%)', 'Annual payroll ($1,000)',
       'Noise range for annual payroll '],
      dtype='object')

In [4]:
filenames = glob("data/raw/BP_*_00A1.csv")

In [5]:
dataframes = [pd.read_csv(f, encoding='latin-1') for f in filenames]

In [6]:
for dataframe in dataframes:
    newcols = []
    for column in dataframe.columns:
        column = column.replace(".","").replace("-","").replace("_","")
        newcols.append(column)
    dataframe.columns = newcols   
    print(dataframe.columns)

Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'NAICSsectorid', 'NAICSsectordisplaylabel',
       'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP', 'PAYQ1T', 'PAYANT'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'NAICSsectorid', 'NAICSsectordisplaylabel',
       'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP', 'PAYQ1T', 'PAYANT'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'NAICSsectorid', 'NAICSsectordisplaylabel',
       'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP', 'EMPN', 'PAYQTR1',
       'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')
Index(['GEOid', 'GEOid2', 'GEOdisplaylabel', 'GEOannotationid', 'GEOtypeflag',
       'GEOfipsstatecode', 'GEOfipscountycode', 'GEOfipscsacode',
       'GEOfipsmsacode', 'GEOfipsmdcode', 'NAICSid', 'NAICSdisplaylabel',
       'NAICSannotationid', 'YEARid', 'YEARdisplaylabel', 'ESTAB', 'EMP',
       'EMPN', 'PAYQTR1', 'PAYQTR1N', 'PAYANN', 'PAYANNN'],
      dtype='object')

In [154]:
dataframes2 =[]
for dataframe in dataframes:
    dataframe = dataframe[["GEOid2",
                           "GEOdisplaylabel",
                           "GEOfipsstatecode",
                           "GEOfipscountycode",
                           "NAICSdisplaylabel",
                           "ESTAB",
                           "EMP",
                           "YEARid"]]
    dataframe.columns = ["geo_id",
                       "county_name",
                       "state_fips",
                       "county_fips",
                       "naics_industry",
                       "establishments",
                       "employees",
                       "year"]
    dataframe = dataframe.set_index(["geo_id"])
    dataframe = dataframe[dataframe.county_fips != 999]
    dataframe = dataframe[dataframe.naics_industry != "Total for all sectors"]
    dataframe.naics_industry = dataframe.naics_industry.str.replace("Mining","Mining, quarrying, and oil and gas extraction")

    dataframes2.append(dataframe)

In [155]:
stacked = pd.concat(dataframes2)

In [161]:
stacked.loc[1003].groupby("year").sum()

      state_fips  county_fips  establishments  employees
year
2005          20           60            4629    51837.0
2006          20           60            4816    54793.0
2007          20           60            5124    56030.0
2008          20           60            5006    55546.0
2009          20           60            4812    51959.0
2010          20           60            4665    50868.0
2011          20           60            4624    51141.0
2012          19           57            4751    52778.0
2013          20           60            4871    54700.0
2014          20           60            4969    56255.0
2015          20           60            5127    58868.0

In [174]:
stacked.tail()

,county_name,state_fips,county_fips,naics_industry,establishments,employees,year
geo_id,,,,,,,
56045,"Weston County, Wyoming",56,45,Health care and social assistance,22,364.0,2015
56045,"Weston County, Wyoming",56,45,"Arts, entertainment, and recreation",2,NaN,2015
56045,"Weston County, Wyoming",56,45,Accommodation and food services,25,175.0,2015
56045,"Weston County, Wyoming",56,45,Other services (except public administration),18,66.0,2015
56045,"Weston County, Wyoming",56,45,Industries not classified,1,NaN,2015