## The data is available as two attached CSV files:

takehome_user_engagement. csv

takehome_users . csv

### The data has the following two tables:

__1]__ A user table ( "takehome_users" ) with data on 12,000 users who signed up for the
product in the last two years. This table includes:
- __name:__ the user's name
- __object_id:__ the user's id
- __email:__ email address
- __creation_source:__ how their account was created. This takes on one of 5 values:
  -  __PERSONAL_PROJECTS:__ invited to join another user's personal workspace
  - __GUEST_INVITE:__ invited to an organization as a guest (limited permissions)
  - __ORG_INVITE:__ invited to an organization (as a full member)
  - __SIGNUP:__ signed up via the website
  - __SIGNUP_GOOGLE_AUTH:__ signed up using Google Authentication (using a Google email account for their login id)

- __creation_time:__ when they created their account
- __last_session_creation_time:__ unix timestamp of last login
- __opted_in_to_mailing_list:__ whether they have opted into receiving marketing emails
- __enabled_for_marketing_drip:__ whether they are on the regular marketing email drip
- __org_id:__ the organization (group of users) they belong to
- __invited_by_user_id:__ which user invited them to join (if applicable).

__2]__ A usage summary table ( "takehome_user_engagement" ) that has a row for each day
that a user logged into the product.

Defining an "adopted user" as a user who has logged into the product on three separate
days in at least one seven足day period , __identify which factors predict future user
adoption.__

We suggest spending 1足2 hours on this, but you're welcome to spend more or less.
Please send us a brief writeup of your findings (the more concise, the better 足足 no more
than one page), along with any summary tables, graphs, code, or queries that can help
us understand your approach. Please note any factors you considered or investigation
you did, even if they did not pan out. Feel free to identify any further research or data
you think would be valuable.

In [1]:
import numpy as np
import pandas as pd

In [7]:
users = pd.read_csv("data/takehome_users.csv", encoding='latin-1')
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [8]:
engagement = pd.read_csv("data/takehome_user_engagement.csv", encoding='latin-1')
engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1